@model WebMVCRazor.Models.EditDateViewModel
@{
    ViewBag.Title = "Edit Admission Date";
}
@section Scripts {
@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/bootstrap")
}
<br /><br />
@using (Html.BeginForm("EditAdmissionDate", "Patient", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <div class="message-error">@ViewBag.Error</div>

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Id, new {@class = "form-control"})
            </div>
        </div>

        @Html.EditorFor(m => m.AdmissionDate)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Patients", "Patient", new {searchFirstName = ViewBag.first, searchLastName = ViewBag.last, Facilities = ViewBag.FacilityArea, searchUnActive = ViewBag.Active}, new {@class = "btn btn-primary"})
            </div>
        </div>
    </div>
}