
@model WebMVCRazor.Models.PatientWrapperViewModel
@{
    ViewBag.Title = "Patients";
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/GridCss")
    @Styles.Render("~/Content/PrintStyles")
}

<p>&nbsp;</p>
<div class="spacerBody">
    @using (Html.BeginForm("Patients", "Patient", FormMethod.Get))
    {
        <br />
        <br />
        <div class="breadcrumb" style="width: 1060px">

            First Name : @Html.TextBox("searchFirstName")
            
            Last Name : @Html.TextBox("searchLastName")
       
            Facility :  @Html.DropDownListFor(m => m.Facilities, Model.Facilities, "All")

            &nbsp;&nbsp;Show Only Unactive : &nbsp;&nbsp;@Html.CheckBox("searchUnActive", false, new { @class = "checkbox-inline" })         

            &nbsp;&nbsp;<input type="submit" value="Search"  />
        </div>
       
    }
   
    <h3>@ViewBag.Title</h3>
    <br />
    @Html.ActionLink("Create Patient", "AddPatient", "Patient", new { @class = "btn btn-primary" })
    @Html.ActionLink("Print", "#", "#", new { @class = "btn btn-primary", @onclick = "window.print(); return false;" })
    
    <br />

    @{
        if (Model.Patients.Any())
        {
            <hr />

            var grid = new WebGrid(Model.Patients, canPage: true, defaultSort: "LastName", rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            
            <div style="margin-left: 10px">@grid.Pager()</div>
        
             <div id="gridContent" >
        @grid.GetHtml(
        tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("FirstName", "FirstName", canSort: false),
                grid.Column("MiddleName", "MiddleName", canSort: false),
                grid.Column("LastName", "LastName", style: "noprint", canSort: false),
                grid.Column("Location", "Location", canSort: false),
                grid.Column("AdmissionDate", "AdmissionDate", style: "description", canSort: false),
                grid.Column("EligibileDate", "EligibileDate", style: "description", canSort: false),
                grid.Column("DeadlineDate", "DeadlineDate", style: "description", canSort: false),              
                @*grid.Column("    ", format: @<text>@Html.ActionLink("Admission", "EditAdmissionDate", "Patient", new { patientId = item.PatientId }, null) </text>, canSort: false),
                grid.Column("    ", format: @<text>@Html.ActionLink("Discharge", "EditDischargeDate", "Patient", new { patientId = item.PatientId }, null) </text>, canSort: false),*@              
                grid.Column("    ", format: @<text>@Html.ActionLink("Edit", "EditPatient", "Patient", new { id = item.PatientId }, null) </text>,canSort:false),
                grid.Column("    ", format: @<text>@Html.ActionLink("Visits", "Visits", "Visit", new { id = item.PatientId }, null) </text>, canSort:false)
                  ))

                </div>
           
        }
        else
        {
        }
    }
   
  
    <br /><br /><div class="message-success">@ViewBag.ResultMessage</div>
</div>